{% extends 'base.html' %}
{% block content %}
<br>
<div class="formstart">
<div class ="container">
<div class="wrapper">
<form method="post" class="form-signin">
{% csrf_token %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">Your Username and Password didn't match. Please try again.</div>
{% endif %}
{% if next %}
  {% if user.is_authenticated %}
  <div class="alert alert-danger" role="alert">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</div>
{% else %}
    <p>Please login to see this page.</p>
{% endif %}
{% endif %}
<h3 class="form-signin-heading">Welcome! Please Sign Up</h3>
<hr class="colorgraph"><br>
<input type="text" class="form-control" name="{{ form.username.html_name }}" required="" autofocus="" placeholder="Username"/>
<input type="text" class="form-control" name="{{ form.first_name.html_name }}" required="" autofocus="" placeholder="First Name"/>
<input type="text" class="form-control" name="{{ form.last_name.html_name }}" required="" autofocus="" placeholder="Last Name"/>
<input type="text" class="form-control" name="{{ form.email.html_name }}" required="" autofocus="" placeholder="Email"/>
<input type="password" class="form-control" name="{{ form.password1.html_name }}" required="" autofocus="" placeholder="Password"/>
<input type="password" class="form-control" name="{{ form.password2.html_name }}" required="" autofocus="" placeholder="Confirm Password"/>
<button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Signup" type="Submit">SignUp</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div></div>
<br/>
{% endblock %}